{% extends 'todoapp/base.html' %}
{% block content %}
<h1>Welcome {{ user.username | title }}</h1>
<h2>What task do you want to add today?</h2>

<form method="POST" action="{% url 'add' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Task</button>
</form>

<br>
<br>
<div> 
    <h2> You have {{ tasks|length }} tasks.</h2>
    {% if tasks|length == 0 %}
        <p>Looks like you have no tasks. Add some new tasks</p>
    {% endif %}
</div>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Completed</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.completed }}</td>
        <td>
            <a href="{% url 'delete' task.id %}"><button id="table_button">Delete</button></a>
            <a href="{% url 'update_task' task.id %}"><button id="table_button">Update</button></a>
        </td>
    </tr>
    {% endfor %}
</table><br>

<a href="{% url 'logout' %}"><button>Logout</button></a>

{% endblock %}
